python-dotenv
requests
types-requests
pydantic
prefect
boto3
prefect
pandas
pyarrow
fastparquet
tweepy
pandas-gbq
google-auth
beautifulsoup4
selenium
webdriver-manager
selenium-wire
undetected_chromedriver
discord.py
gcsfs
pymongo